/* Created by harsh*/

* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-680455.jpg);
    background-repeat: repeat;
  }
  #loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff
    url('Spinner-1s-200px.gif')
     no-repeat center center;   
    z-index: 99999;
}